<nav class="navbar">
  <div class="logo-container">
    <img src="imagen1.png" alt="Celus Papu" class="logo">
    <span class="brand-name">Celus Papu</span>
  </div>

  <ul class="nav-links">
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-btn">Inicio</a></li>
    <li><a routerLink="/productos" routerLinkActive="active" class="nav-btn">Productos</a></li>
    <li><a routerLink="/nosotros" routerLinkActive="active" class="nav-btn">Nosotros</a></li>
    <li><a routerLink="/contactos" routerLinkActive="active" class="nav-btn">Contacto</a></li>
  </ul>
</nav>