<div class="products-container">
  
  <h1 class="section-title fade-in-down">Productos 🗿</h1>

  <div class="grid-productos">
    @for (celu of productos; track celu.marca) {
      
      <div class="card-producto fade-in-up">
        
        <div class="card-header">
          <img [src]="celu.imagen" alt="{{celu.marca}}" class="card-img" 
               onerror="this.src='logo1.jpg'"> 
        </div>
        
        <div class="card-body">
          <h2 class="marca">{{ celu.marca }}</h2>
          
          <div class="seccion-gama">
            <h3 class="titulo-rojo">Gama Alta 🚨</h3>
            <ul class="lista-detalles">
              @for (item of celu.gamaAlta; track item) {
                <li>{{ item }}</li>
              }
            </ul>
          </div>

          <hr class="separador">

          <div class="seccion-gama">
            <h3 class="titulo-verde">Calidad Precio / Media 💸</h3>
            <ul class="lista-detalles">
              @for (item of celu.calidadPrecio; track item) {
                <li>{{ item }}</li>
              }
            </ul>
          </div>
          
        </div>
      </div>

    }
  </div>

</div>